* {
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  /* image reset */
  display: block;
  max-width: 100%; 
}

body {
  min-height: 100vh;
}

.sign-up {
  height: 1000px;
}

.sign-up__media {
  background-image: url(./res/media.jpg);
}
