@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

* {
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
  /* image reset */
  display: block;
  max-width: 100%; 
}

html, body {
  /* allow percentage-based units on viewport */
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(0, 0%, 5%);
}

.sign-up {
  display: flex;
  height: 90%;
  width: 80%;

  background-color: hsl(0, 0%, 93%);

  border-radius: 20px;
}

.sign-up__media {
  background-image: url(./res/media.png);
  background-size: cover;
  background-position: center;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  width: 90%;

  display: flex;
  justify-content: center;
}

.sign-up__media__attribution {
  align-self: flex-end;
  color: hsl(0, 0%, 95%);
  margin-bottom: 0.5rem;

  font-size: 12px;
}

.sign-up__media__attribution :visited,
.sign-up__media__attribution :link {
  color: hsl(0, 0%, 95%);
}

.sign-up__content {
  display: flex;
  flex-wrap: wrap;
}

form {
  width: 100%;
}

.sign-up__content__headline {
  display: flex;
  align-items: flex-end;
  padding-right: 8rem;
  padding-bottom: 4rem;
}

.sign-up__content__headline__text {
  font-weight: 600;
  font-size: 20px;
}

.sign-up__content__form {
  background-color: hsl(0, 0%, 100%);
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 20px hsl(0, 0%, 80%);
  clip-path: inset(-15px 0px -15px 0px); /* clip horizontal box shadow */
}

.sign-up__content__form__call-to-action {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sign-up__content__form__fields {
  width: 31rem;
}

.sign-up__content__form__fields > label {
  text-transform: uppercase;
  position: absolute;

  font-size: 10px;
  font-weight: 700;
  color:hsl(0, 0%, 20%)
}

.sign-up__content__form__fields > input {
  width: 14rem;
  height: 1.75rem;
  margin: 1rem 1rem 1rem 0;
  padding: 0.3rem;
}

input:focus {
  outline: hsl(0, 0%, 100%);
  border: 2px solid #5478dd;
  border-radius: 4px;

  box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
}

input[isvalid="false"],
input:invalid {
  outline: hsl(0, 0%, 100%);
  border: 2px solid #d06969;
  border-radius: 4px;
}

.sign-up__content__form__fields__password-warning {
  font-size: 12px;
  font-weight: 600;
  color: #cc5959;
  position: relative;
  bottom: 12px;

  display: none; /* default, turns to 'block' when JavaScript detects mismatch password input */
  height: 0px; /* height 0 to not affect container height when script.js sets display: none */
}

.sign-up__content__headline,
.sign-up__content__form,
.sign-up__content__buttons {
  padding-left: 3rem;
}

.sign-up__content__buttons {
  padding-top: 2rem;
}

.sign-up__content__buttons__log-in > a {
  color: #596c49;
  font-weight: 500;
  text-decoration: none;
}

.sign-up__content__buttons__create-account {
  margin-bottom: 2rem;

  background-color: #596c49;
  color: white;
  font-size: 16px;
  font-weight: 600;

  padding: 0.8rem 3rem;
  border-radius: 8px;

  box-shadow: -0px 0px 10px hsl(0, 0%, 70%);
  border: none;
}

.sign-up__content__buttons__create-account:hover {
  background-color: #74a464;
}

.sign-up__content__buttons__create-account:active {
  background-color: #596c49;
}
