@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  /* CSS reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Outfit', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img, picture, video, canvas, svg {
  /* image reset */
  display: block;
  max-width: 100%; 
}

html, body {
  /* allow percentage-based units on viewport */
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: hsl(0, 0%, 5%);
}

.sign-up {
  display: flex;
  height: 80%;
  width: 80%;

  background-color: hsl(0, 0%, 90%);

  border-radius: 20px;
}

.sign-up__media {
  background-image: url(./res/media.jpg);
  background-size: cover;
  background-position: center;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  width: 45%;

  display: flex;
  justify-content: center;
}

.sign-up__media__attribution {
  align-self: flex-end;
  color: hsl(0, 0%, 95%);
  margin-bottom: 0.5rem;

  font-size: 12px;
}

.sign-up__media__attribution :visited,
.sign-up__media__attribution :link {
  color: hsl(0, 0%, 95%);
}



.sign-up__content {
  display: flex;
  flex-wrap: wrap;
}

.sign-up__content > * {
  width: 100%;
}

.sign-up__content__form {
  background-color: hsl(0, 0%, 100%);
}